global-exclude *pyc
include setup.py
include *.rst *.txt
exclude .coveragerc
recursive-include docs *.GPL
recursive-include docs *.txt
graft src
include pyproject.toml
recursive-exclude news *
exclude news *.yml __pycache__
